<h2>Currency Converter</h2>

@if (currencies) {
<form [formGroup]="conversionForm">
  <span class="fromFormFields">
    <mat-form-field>
      <input matInput formControlName="fromValue" placeholder="0" />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="fromCurrency">
        @for (currency of currencies; track currency) {
        <mat-option [value]="currency.short_code"
          >{{ currency.name }} ({{ currency.symbol }})</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </span>

  <span class="toFormFields">
    <mat-form-field>
      <input matInput formControlName="toValue" placeholder="0" />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="toCurrency">
        @for (currency of currencies; track currency) {
        <mat-option [value]="currency.short_code"
          >{{ currency.name }} ({{ currency.symbol }})</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </span>
</form>
<p>1 {{ selectedTo }} equals {{ baseRate }} {{ selectedFrom }}</p>

}
